/node_modules
/public/hot
/public/storage
/public/asset_admin
/storage/*.key
/storage/tmp/uploads
/storage/tmp/*.key
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
